<footer class="footer">
  <div class="container footer-container">
    <div class="footer-left">
      <div class="footer-desc">
        <p class="footer-desc-item">Быстрая навигация</p>
      </div>
      <nav>
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#numbers">Цифры</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#online">Сделки онлайн</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#about">O компании</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#prices">Тарифы</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#faq">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-right">
      <a class="footer-img" href="./index.html">
        <img
          srcset="/img/footer-img2x.png 2x"
          src="/img/footer-img.png"
          alt="TradeBlade logo"
          width="165"
        />
      </a>
      <p class="footer-copy">&#169; 2022 TradeBlade. All rights reserved</p>
    </div>
  </div>
</footer>
