<header class="header">
  <div class="container header-container">
    <a class="nav-logo" href="./index.html">
      <picture>
        <source
          srcset="/img/logo-mob.png 1x, /img/logo-mob2x.png 2x"
          media="(max-width: 1439px)"
        />
        <source
          srcset="/img/logo-desc.png 1x, /img/logo-desc2x.png 2x"
          media="(min-width: 1440px)"
        />
        <img src="/img/logo-m.png" alt="TradeBlade logo" />
      </picture>
    </a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#numbers">Цифры</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#online">Сделки онлайн</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">O компании</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#prices">Тарифы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <ul class="login-list">
      <li class="login-item">
        <a class="login-link" href="">Вход</a>
      </li>
      <li class="login-item">
        <a class="login-link accent" href="">Регистрация</a>
      </li>
    </ul>
    <button class="burger-btn" type="button">
      <svg class="burger-icon" width="24" height="16">
        <use href="/img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu">
    <button class="mobile-close-btn" type="button">
      <svg class="mobile-close-icon" width="32" height="32">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mobile-nav">
      <ul class="mobile-nav-list">
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#numbers">Цифры</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#online">Сделки онлайн</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#about">O компании</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#prices">Тарифы</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#faq">FAQ</a>
        </li>
      </ul>
      <ul class="mobile-login-list">
        <li class="mobile-login-item">
          <a class="mobile-login-link accent" href="">Регистрация</a>
        </li>
        <li class="mobile-login-item">
          <a class="mobile-login-link" href="">Вход</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
