<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-img">
      <picture>
        <source
          srcset="/img/hero-img-mob.png 1x, /img/hero-img-mob2x.png 2x"
          media="(max-width: 1439px)"
        />
        <source
          srcset="/img/hero-img-desc.png 1x, /img/hero-img-desc2x.png 2x"
          media="(min-width: 1440px)"
        />
        <img src="/img/hero-img-mob.png" alt="Hero image" />
      </picture>
    </div>
    <div class="hero-content">
      <h1 class="hero-title">
        Моментально<br />копируй сделки<br />профи трейдеров
      </h1>
      <p class="hero-text">
        Начни копировать сделки с успешной командой профессиональных<br />трейдеров
        в автоматическом режиме.
      </p>
      <form class="hero-form">
        <input
          class="hero-input"
          name="email"
          type="email"
          placeholder="Ваш e-mail"
        />
        <button class="hero-btn" type="submit">Начать</button>
      </form>
      <p class="hero-phrase">5 дней бесплатного пользования</p>
    </div>
  </div>
</section>
