<section class="numbers-section" id="numbers">
  <div class="container numbers-container">
    <div class="numbers-decor"></div>
    <div class="numbers-div">
      <h2 class="numbers-title">Цифры</h2>
      <p class="numbers-text">Cентябрь 2022</p>
    </div>
    <ul class="numbers-list">
      <li class="numbers-item">
        <p class="numbers-list-title">Торговой</p>
        <p class="numbers-list-title">прибыли</p>
        <p class="numbers-list-text">2756%</p>
      </li>
      <li class="numbers-item">
        <p class="numbers-list-title">Фьючерсных</p>
        <p class="numbers-list-title">и спотовых сделок</p>
        <p class="numbers-list-text">67</p>
      </li>
      <li class="numbers-item">
        <p class="numbers-list-title">Прибыль подписчиков</p>
        <p class="numbers-list-text">375000</p>
      </li>
    </ul>
  </div>
</section>
