<section class="online-section" id="online">
  <div class="container">
    <h2 class="online-title">Прошедшие сделки</h2>
    <p class="online-text"><span class="online-span"></span>Онлайн</p>
    <div class="swiper online-swiper">
      <ul class="swiper-wrapper online-list">
        <li class="swiper-slide online-card">
          <img class="online-logo" src="/img/online-logo.png" />
          <h3 class="online-card-title">NEAR/USDT</h3>
          <p class="online-card-spot">
            SPOT &#8901; <span class="online-card-spot-span">1 мин. назад</span>
          </p>
          <p class="online-card-income">Прибыль</p>
          <p class="online-card-percent">
            58.6206% <span class="online-card-percent-span">&#8593;</span>
          </p>
          <div class="online-card-goal-wrp">
            <p class="online-card-goal">Цель 4</p>
            <p class="online-card-date">Дата входа 06.10.2022</p>
          </div>
        </li>
        <li class="swiper-slide online-card">
          <img class="online-logo" src="/img/online-logo.png" />
          <h3 class="online-card-title">BTC/USDT</h3>
          <p class="online-card-spot">
            SPOT &#8901; <span class="online-card-spot-span">1 мин. назад</span>
          </p>
          <p class="online-card-income">Прибыль</p>
          <p class="online-card-percent">6.02% &#8593;</p>
          <div class="online-card-goal-wrp">
            <p class="online-card-goal">Цель 3</p>
            <p class="online-card-date">Дата входа 06.10.2022</p>
          </div>
        </li>
        <li class="swiper-slide online-card">
          <img class="online-logo" src="/img/online-logo.png" />
          <h3 class="online-card-title">ETH/USDT</h3>
          <p class="online-card-spot">
            SPOT &#8901; <span class="online-card-spot-span">1 мин. назад</span>
          </p>
          <p class="online-card-income">Прибыль</p>
          <p class="online-card-percent">16.3% &#8593;</p>
          <div class="online-card-goal-wrp">
            <p class="online-card-goal">Цель 4</p>
            <p class="online-card-date">Дата входа 06.10.2022</p>
          </div>
        </li>
        <li class="swiper-slide online-card">
          <img class="online-logo" src="/img/online-logo.png" />
          <h3 class="online-card-title">NEAR/USDT</h3>
          <p class="online-card-spot">
            SPOT &#8901; <span class="online-card-spot-span">1 мин. назад</span>
          </p>
          <p class="online-card-income">Прибыль</p>
          <p class="online-card-percent">0.963% &#8593;</p>
          <div class="online-card-goal-wrp">
            <p class="online-card-goal">Цель 4</p>
            <p class="online-card-date">Дата входа 06.10.2022</p>
          </div>
        </li>
        <li class="swiper-slide online-card">
          <img class="online-logo" src="/img/online-logo.png" />
          <h3 class="online-card-title">NEAR/USDT</h3>
          <p class="online-card-spot">
            SPOT &#8901; <span class="online-card-spot-span">1 мин. назад</span>
          </p>
          <p class="online-card-income">Прибыль</p>
          <p class="online-card-percent">58.6206% &#8593;</p>
          <div class="online-card-goal-wrp">
            <p class="online-card-goal">Цель 4</p>
            <p class="online-card-date">Дата входа 06.10.2022</p>
          </div>
        </li>
      </ul>
      <div class="swiper-scrollbar">
        <div class="swiper-scrollbar-drag"></div>
      </div>
    </div>
  </div>
</section>
