<section class="prices-section" id="prices">
  <div class="container prices-container">
    <h2 class="prices-title">Тарифы</h2>
    <ul class="prices-list">
      <li class="prices-item spot-item">
        <a class="prices-link spot-link">Спот</a>
      </li>
      <li class="prices-item futures-item">
        <a class="prices-link futures-link">Фьючерс</a>
      </li>
    </ul>
    <div class="prices-cards-wrp">
      <div class="prices-card prices-card-left">
        <div class="prices-card-upper">
          <h3 class="prices-card-title">Standard</h3>
          <ul class="prices-card-list prices-card-list-left">
            <li class="prices-card-item">Ручной трейдинг</li>
            <li class="prices-card-item">
              Автоматическое или полуавтоматическое копирование сделок
            </li>
            <li class="prices-card-item">Личный кабинет со статистикой</li>
            <li class="prices-card-item">
              Среднесрочные сделки с<br />уровнями набора портфеля
            </li>
          </ul>
        </div>
        <div class="prices-card-lower">
          <div class="prices-card-div">
            <p class="prices-card-text">
              $234<span class="prices-card-percent">-35%</span>
            </p>
            <select class="prices-card-select" name="months">
              <option value="12">12 месяцев</option>
              <option value="6">6 месяцев</option>
              <option value="1">1 месяц</option>
            </select>
          </div>
          <a class="prices-card-btn" href="#about">
            Попробовать<span class="prices-card-span">5 дней бесплатно</span>
          </a>
        </div>
      </div>
      <div class="prices-card prices-card-right">
        <div class="prices-card-upper">
          <h3 class="prices-card-title">VIP</h3>
          <ul class="prices-card-list prices-card-list-right">
            <li class="prices-card-item">Ручной трейдинг</li>
            <li class="prices-card-item">
              Автоматическое или полуавтоматическое копирование сделок
            </li>
            <li class="prices-card-item">Личный кабинет со статистикой</li>
            <li class="prices-card-item">
              Краткосрочные, среднесрочные и инвест сделки
            </li>
            <li class="prices-card-item">Доступ в Vip чат с командой</li>
            <li class="prices-card-item">Наш авторский курс по трейдингу</li>
          </ul>
        </div>
        <div class="prices-card-lower">
          <div class="prices-card-div">
            <p class="prices-card-text">
              $585<span class="prices-card-percent">-35%</span>
            </p>
            <select class="prices-card-select" name="months">
              <option value="12">12 месяцев</option>
              <option value="6">6 месяцев</option>
              <option value="1">1 месяц</option>
            </select>
          </div>
          <a class="prices-card-btn" href="#about">
            Попробовать<span class="prices-card-span">5 дней бесплатно</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
