.about-section {
  padding: 40px 0 133px 0;
  background-color: var(--white);
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.about-title {
  padding-bottom: 20px;

  font-size: 28px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #000000;
}

.about-text {
  line-height: 1.25;
  color: #03071880;
}

.about-form-wrp {
  position: absolute;
  top: 296px;
  padding: 16px;

  border-radius: 4px;
  background-color: var(--purple);
}

.about-desc {
  padding-bottom: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.04em;
  text-align: center;
}

.about-form-try {
  display: flex;
  flex-direction: column;
  gap: 8px;

  border-radius: 4px;
}

.about-input {
  padding: 15px 17px;
  border: none;
  outline: none;

  font-weight: 500;
  line-height: 1.43;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: var(--white);

  border-radius: 4px;
  background-color: #4a3bb3;
}

.about-input:placeholder-shown {
  text-transform: uppercase;
  color: #ffffff34;
}

.about-btn {
  padding: 16px 24px;

  font-weight: 500;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--black);

  border-radius: 3px;
  border: 1px solid var(--skyblue);
  box-shadow: 0 0 4px 0 var(--skyblue);
  background-color: var(--skyblue);
}

@media screen and (min-width: 1440px) {
  .about-section {
    padding: 96px 0 92px 0;
  }

  .about-container {
    flex-direction: row;
    align-items: flex-start;
    gap: 237px;
  }

  .about-title {
    padding-bottom: 40px;

    font-size: 44px;
    line-height: 1.27;
  }

  .about-form-wrp {
    position: static;
    padding: 32px 64px 40px 64px;
    margin-top: 36px;
    margin-bottom: 4px;
  }

  .about-desc {
    padding-bottom: 32px;

    font-size: 28px;
    line-height: 1.29;
  }

  .about-form-try {
    position: relative;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    width: 500px;

    border-radius: 4px;
  }

  .about-input {
    width: 100%;
    padding: 20px 16px;

    font-size: 16px;
    line-height: 1.25;
  }

  .about-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    height: 52px;

    font-weight: 500;

    border-radius: 4px;
    transition: 200ms ease-in;
  }

  .about-btn:hover,
  .about-btn:focus {
    border: 1px solid var(--white);
    box-shadow: 0 0 4px 0 var(--white);
    background-color: var(--white);
  }
}
