/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import 'modern-normalize/modern-normalize.css';
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

@import url('swiper/css/bundle');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./numbers.css');
@import url('./online.css');
@import url('./about.css');
@import url('./prices.css');
@import url('./faq.css');
@import url('./footer.css');
